<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/headers.ejs %>
  	<p>
  	
  	<ul> 
  		<% runningData.data.forEach(function(item) { %>
  			<li><%= item.Title %></li>
  		<% }); %>
  	</ul>
  	
    </p>
  </body>
</html>