<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/headers.ejs %>
  
	  <p>
	 Thank You for uploading your file. Please navigate back to a page of your choice!
	  </p>
  </body>
</html>